#paidReportManager {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px; 
    padding: 46px; 
    row-gap: 46px;
}

@media (max-width: 1200px) {
    #paidReportManager {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}

@media (max-width: 768px) {
    #paidReportManager {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    #paidReportManager {
        grid-template-columns: 1fr;
    }
}
